streamlit==1.45.1
numpy==1.26.4
matplotlib
ase==3.10.3
matminer==0.9.3
pymatgen==2025.5.28
py3Dmol==2.4.2
plotly==6.1.2
streamlit-plotly-events
setuptools
mp-api==0.45.3
aflow==0.0.11
pillow==11.2.1
pymatgen.analysis.defects==2025.1.18
psutil==7.0.0
