streamlit==1.45.1
numpy==2.2.6
matplotlib==3.10.3
ase==3.25.0
matminer==0.9.3
pymatgen==2025.5.28
py3Dmol==2.4.2
plotly==6.1.2
streamlit-plotly-events
setuptools
mp-api==0.45.3
aflow==0.0.11
pillow==11.2.1
psutil==7.0.0
requests==2.32.5
